@import '../../styles/_color';
@import '../../styles/_forms';

#signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;

  #signin-fields {
    width: 30%;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 0px 2px #aaa;

    p {
      margin: 0;

      text-align: center;
    }

    #signin-title {
      padding: 20px;
      font-size: 25px;
      font-weight: bold;
      border-radius: 10px 10px 0 0;
      background: $secondary;
      color: #fff;
    }
    .error {
      display: none;
      padding: 20px 10px 10px 10px;
      font-size: 18px;
      color: red;
    }

    form {
      padding: 10px;
    }
    input[type='text'] {
      margin-top: 0;
    }
    input[type='submit'] {
      margin-top: 20px;
      background: $primary;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        color: #fff;
      }
    }
  }
}
